
nav{
    background-color:#000;
}

.header{
    padding:.1em 0em .5em 0em;
    color:#fff;
    width:min-content;
    margin:0 auto;
    font-size:50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-upper{
    background-color:rgb(44, 43, 43);
    height:25px;
    border-bottom:solid 1px  rgb(117, 116, 116);
    display:flex;
}

.language{
    margin:0px 10px;
    background-color: rgb(44, 43, 43);
    color:#fff;
    border:solid  rgb(51, 50, 50);
    border-right:solid 1px #fff;
    padding:0px 10px 0px 0px;
}

.design{
    margin-left:500px;
    border-radius:5px;
    color:floralwhite;
    padding:1px 10px;
    background-image: linear-gradient(to right,rgb(143, 21, 243),purple);
}

.nav-lower{
    background-color: firebrick;
    height:25px;
    padding:0px 80px;
    display:flex;
}

.links,.fa-home,.fa-search{
    color:#fff;
    padding:.2em .5em;
}
.fa-search{
    margin-left:6em;
}
.links:hover,.active{
    color:#000;
    background-color: #fff;
}
.container{
    padding:0em 10em;
    display:flex;
}
.news-heading{
    width:100%;
    padding:.50em;
    border-bottom:solid .05em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

img{
    float:left;
    margin:.25em;
}

hr{
    clear:both;
}
article{
    width:60%;
}


aside{
    width:40%;
    height:1000px;
    display: inline-block;
}

section{
    display:inline-block;
}

.sections>h3{
    background-color: rgb(110, 109, 109);
    color:#fff;
    padding:2px 1em;
    margin:0px;
    border-bottom:solid 3px #000;
}

.sections{
    display:flex;
}

.active-section,.sections>h3:hover{
    background-color: rgb(12, 12, 12) !important;
}

.sub-news{
    border-bottom: solid 1px rgb(207, 206, 204);
    padding:.5em 0em;
}

footer{
    background-color:#000;
    height:10em;
    color:#fff;
}

ul{
   list-style: none;
   padding:1em;
   display:inline-block;
}

.footer-heading{
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}
